
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- AngularJs must be called before bootstrap else, Angular Js is not detected/used -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/controller.js"></script>
  <!--
  -->
  <style>
  .border {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
  }
  </style>

</head>

<body ng-app="myApp">

	<h1>Angular Examples </h1>
	
	<div class="container" ng-controller="youTubeController">
	  <div class="card border-primary mb-3" style="max-width: 48rem;">
	      <h4 class="card-title">Panel title</h4>
	      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
	      <div class="flex-row">
	          <a class="card-link" href="http://youtube.com" target="_blank">Youtube</a>
	      </div>
	      <div class="form-group">
	        <label for="yt_link">Your Youtube Link to Download</label>
	        <input type="text" class="form-control" id="yt_link" ng-model="ytLink">
	        <button type="button" ng-click="startDownload()" class="btn btn-primary pull-right">Download</button>
	      </div>
	      <div class="form-group">
	        <button type="button" ng-click="statusDownload()" class="btn btn-primary">Status</button></br>
	
	        <label for="yt_status"> Status : {{ status_download }} </label></br>
	        <label for="yt_progress"> Progress : {{progress_download}}% </label>
	      </div>
	      <div class="progress">
	        <div class="progress-bar" role="progressbar" ng-style="progress_bar" 
	            aria-valuenow="progress_bar" aria-valuemin="0" aria-valuemax="100">
	        </div>
	      </div>
	  </div>

		</br>
	
	
		<header>
			<h2> One todo list Header </h2>
		</header>
	
		<section ng-controller="todoCtrl">
	
			<form id="todo-form" ng-submit="addTodo()">
			    <input id="new-todo" placeholder="Que devez-vous faire ?" ng-model="newTodo" />
			</form>
	
			<article ng-show="todos.length">
			    <ul id="todo-list">
			        <li ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
			            <div class="view">
			                <input class="mark" type="checkbox" ng-model="todo.completed" />
			                <span>{{todo.title}}</span>
			                <span class="close" ng-click="removeTodo(todo)">x</span>
			            </div>
			        </li>
			    </ul>
			    <input id="mark-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)" />
			    <label class="btn btn-info" for="mark-all">Tout cocher</label>
					</br>
			    <button class="btn btn-info" ng-click="clearCompletedTodos()">Supprimer les tâches cochées</button>
			</article>
	
			<array>
				<h2> Task Table </h2>
		  	<table class="table table-dark table-striped">
		  	  <thead>
		  	    <tr>
		  	      <th>Task</th>
		  	      <th>Info</th>
						</tr>
		  	  </thead>
		  	  <tbody>
			        <tr ng-repeat="todo in todos" ng-class="{completed: todo.completed}">
								<td> {{todo.title}} </td>
								<td> {{todo.info}} </td>
							</tr>
		  	  </tbody>
				</table>
			</array>
	
		</section>
	
		<footer>
			<h2> One todo list Footer </h2>
		</footer>
	




	</div>
	
	</br>
	
	<h1>Bootstrap Examples </h1>
	
	<div class="container">
	  <h2>Dark Striped Table</h2>
	  <p>Combine .table-dark and .table-striped to create a dark, striped table:</p>            
	  <table class="table table-dark table-striped">
	    <thead>
	      <tr>
	        <th>Firstname</th>
	        <th>Lastname</th>
	        <th>Email</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>John</td>
	        <td>Doe</td>
	        <td>john@example.com</td>
	      </tr>
	      <tr>
	        <td>Mary</td>
	        <td>Moe</td>
	        <td>mary@example.com</td>
	      </tr>
	      <tr>
	        <td>July</td>
	        <td>Dooley</td>
	        <td>july@example.com</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
	
	
	<div class="container">
	  <h2>Pill Badges</h2>
	  <span class="badge badge-pill badge-primary">Primary</span>
	  <span class="badge badge-pill badge-secondary">Secondary</span>
	  <span class="badge badge-pill badge-success">Success</span>
	  <span class="badge badge-pill badge-danger">Danger</span>
	  <span class="badge badge-pill badge-warning">Warning</span>
	  <span class="badge badge-pill badge-info">Info</span>
	  <span class="badge badge-pill badge-light">Light</span>
	  <span class="badge badge-pill badge-dark">Dark</span>
	</div>
	
	
	</br>
	
	<div class="container">
	  <div class="btn-group btn-group-justified">
	    <button type="button" class="btn btn-primary">Apple</button>
	    <button type="button" class="btn btn-primary">Samsung</button>
	    <div class="btn-group btn-group-justified">
	      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	         Sony
	      </button>
	      <div class="dropdown-menu">
	        <a class="dropdown-item" href="#">Tablet</a>
	        <a class="dropdown-item" href="#">Smartphone</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	</br>
	
	<div class="container">
	  
	  <!-- Trigger the modal with a button -->
	  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
	  
	  <!-- Modal -->
	  <div id="myModal" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	  
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Modal Header</h4>
	        </div>
	        <div class="modal-body">
	          <p>Some text in the modal.</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	  
	    </div>
	  </div>
	</div>
  

</body>
</html>
